.goTop {
  height: 37px;
  width: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 40px;
  right: 20px;
  border: 2px solid black;
  background-color: var(--light-bg);
  border-radius: 11px;

  @include mq(small) {
    right: 30px;
  }

  @include mq(large) {
    height: 52px;
    width: 52px;
    border: 3px solid black;
    cursor: pointer;
  }

  @include mq(extra-large) {
    bottom: 190px;
    right: 4vw;
  }

  &__arrow {
    font-size: 2rem;

    @include mq(large) {
      font-size: 2.7rem;
    }
  }
}
