.header {
  padding-bottom: 15px;
  background-color: var(--color-bg);

  @include mq(large) {
    margin-top: 10vh;
    display: flex;
  }

  &__leftSide,
  &__rightSide {
    height: 60vh;
    position: relative;

    @include mq(small) {
      height: 100vh;
    }

    @include mq(large) {
      height: 90vh;
      width: 50vw;
    }
  }

  &__leftSide {
    &::after {
      @include separator;
    }
  }

  &__rightSide {
    @include mq(small) {
      height: 142vh;
    }

    @include mq(large) {
      height: 90vh;
    }
  }

  &__profileImage {
    height: 60vh;
    width: 100vw;
    object-fit: cover;
    object-position: 100% 25%;

    @include mq(small) {
      height: 100vh;
    }

    @include mq(large) {
      height: 90vh;
      width: 50vw;
    }
  }

  &__leftSideTitle,
  &__rightSideTitle {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-text);

    @include mq(large) {
      width: 20vw;
      margin-right: 50px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__leftSideTitle {
    position: absolute;
    top: 85%;
    right: 50%;
    transform: translate(-50%, -50%);

    @include mq(large) {
      width: 20vw;
      margin-right: 50px;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(0, -50%);
      text-align: end;
    }
  }

  &__rightSideTitle {
    margin: 13px 0 20px;

    @include mq(large) {
      margin: 0 50px 0;
    }
  }

  &__title {
    font-size: 3rem;

    @include mq(large) {
      font-size: 7.2rem;
    }

    @include mq(large) {
      font-size: 8.2rem;
    }
  }

  &__icon {
    @include icon;

    &--bottom {
      margin: 0 0 10px;

      @include mq(large) {
        margin: 0;
        left: 0;
      }
    }
  }

  &__rightBackground {
    margin: 0 10vw;
    display: grid;
    grid-template: repeat(3, calc(75vw / 3)) / repeat(3, calc(75vw / 3));
    align-items: center;
    justify-items: center;

    @include mq(small) {
      margin: 0 5vw;
      grid-template: repeat(3, calc(100vh / 3)) / repeat(3, 30vw);
    }

    @include mq(large) {
      margin: 15vh 5vw;
      grid-template: repeat(3, calc(60vh / 3)) / repeat(3, calc(40vw / 3));
    }
  }

  &__skillContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 5%;
  }

  &__iconBg {
    height: 11vw;
    width: 11vw;
    margin-bottom: 5px;
    object-fit: fill;

    @include mq(large) {
      height: 7vw;
      width: 7vw;
    }
  }

  &__skillName {
    font-size: 1.1rem;
    font-weight: 700;
    text-transform: uppercase;
  }
}
