.header {
  padding-bottom: 15px;
  background-color: var(--light-bg);

  &__leftSide,
  &__rightSide {
    height: 60vh;
    position: relative;

    @include mq(small) {
      height: 100vh;
    }
  }

  &__leftSide {
    &::after {
      @include separator;
    }
  }

  &__rightSide {
    @include mq(small) {
      height: 142vh;
    }
  }
  &__profileImage {
    height: 60vh;
    width: 100vw;
    object-fit: cover;
    object-position: 100% 25%;

    @include mq(small) {
      height: 100vh;
    }
  }
  &__leftSideTitle,
  &__rightSideTitle {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__leftSideTitle {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__title {
    font-size: 3rem;
  }
  &__icon {
    @include icon;

    &--bottom {
      margin: 0 0 10px;
    }
  }
  &__rightSideTitle {
    margin: 13px 0 20px;
  }
  &__rightBackground {
    margin: 0 10vw;
    display: grid;
    grid-template: repeat(3, calc(75vw / 3)) / repeat(3, calc(75vw / 3));
    align-items: center;
    justify-items: center;

    @include mq(small) {
      margin: 0 5vw;
      grid-template: repeat(3, calc(100vh / 3)) / repeat(3, 30vw);
    }
  }
  &__skillContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 5%;
  }
  &__iconBg {
    height: 11vw;
    width: 11vw;
    margin-bottom: 5px;
    object-fit: fill;
  }
  &__skillName {
    font-size: 1.1rem;
    font-weight: 700;
    text-transform: uppercase;
  }
}
